.nav-form .nav-link {
  padding: 1rem;
  color: #757575; /* Warna abu-abu */
}

.nav-form .nav-link:hover {
  color: #461a0f; /* Warna kuning saat dihover */
  text-decoration-color: #461a0f; /* Warna underline kuning saat dihover */
}
